@import './vars';

body {
  background-color: $body--bg-color;
  color: $body--color;
  font-family: $font-family--text;
  font-size: $font--size;
  font-weight: $font-weight--default;
  line-height: $line-height--default;
}

.dark {
  color: $color-dark--default;
}
