@import './vars';

ul, ol {
  margin-left: 1em;
}

ol {
  list-style: decimal;
}

ul {
  list-style: circle;

  &.unstyle {
    list-style: none;
    margin-left: 0;
  }

  &.inline {
    list-style: none;
    margin-left: 0;

    & > li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}
